* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

@font-face {
  font-family: 'Roboto Regular';
  src: url(../fonts/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto-Regular.woff2) format("woff2"), url(../fonts/Roboto-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto Light';
  src: url(../fonts/Roboto-Light.woff) format("woff"), url(../fonts/Roboto-Light.woff2) format("woff2"), url(../fonts/Roboto-Light.ttf) format("truetype"); }

@font-face {
  font-family: 'PF Agora Sans Pro';
  src: url(../fonts/PFAgoraSansPro-Regular.woff) format("woff"), url(../fonts/PFAgoraSansPro-Regular.woff2) format("woff2"), url(../fonts/PFAgoraSansPro-Regular.ttf) format("truetype"); }

body {
  background-color: grey; }

.wrapper-header {
  width: 100%;
  heigth: 130px;
  position: fixed;
  top: 0;
  z-index: 100; }

.header, .menu_position {
  margin: 0 auto;
  width: 1178px;
  padding: 24px 11px 0 11px; }
  @media screen and (max-width: 1200px) {
    .header, .menu_position {
      width: 970px; } }
  @media screen and (max-width: 992px) {
    .header, .menu_position {
      width: 746px; } }

.header {
  height: 130px;
  background: #fff; }
  .header-line1 {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .header-line2 {
    display: flex;
    justify-content: flex-end;
    width: 100%; }

.login {
  font-family: "Roboto Light", Arial, "Lucida Sans";
  font-size: 13px;
  color: #000; }
  .login__item {
    margin-left: 20px; }

.logo {
  width: 150px; }
  .logo__pic {
    width: 135px;
    height: 72px; }
  .logo__site-name {
    font-family: "Roboto Regular", Arial, "Lucida Sans";
    font-size: 13px;
    color: #000; }

.search__input {
  width: 294px;
  height: 24px;
  border: 1px solid #000;
  background-color: #fff; }

.search__button {
  height: 24px;
  line-height: 24px;
  font-family: "Roboto Regular", Arial, "Lucida Sans";
  margin-left: 14px;
  border: 0px;
  background: inherit;
  cursor: pointer;
  color: #000; }

.search_margin-in-header {
  margin-top: 48px; }

.social__item {
  color: #000;
  margin-left: 11px; }

.social_position {
  margin-top: 48px; }

.menu {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #fff;
  list-style-type: none; }
  .menu__item {
    font-size: 18px;
    font-family: "PF Agora Sans Pro", Arial, "Lucida Sans";
    line-height: 60px;
    color: #000; }
  .menu_position {
    margin: 130px auto 0; }
