@font-face
  font-family: 'Roboto Regular'
  src: url(../fonts/Roboto-Regular.woff) format('woff'),  url(../fonts/Roboto-Regular.woff2) format('woff2'),  url(../fonts/Roboto-Regular.ttf) format('truetype')

@font-face
  font-family: 'Roboto Light'
  src: url(../fonts/Roboto-Light.woff) format('woff'),  url(../fonts/Roboto-Light.woff2) format('woff2'),  url(../fonts/Roboto-Light.ttf) format('truetype')

@font-face
  font-family: 'PF Agora Sans Pro'
  src: url(../fonts/PFAgoraSansPro-Regular.woff) format('woff'),  url(../fonts/PFAgoraSansPro-Regular.woff2) format('woff2'),  url(../fonts/PFAgoraSansPro-Regular.ttf) format('truetype')


%font-footer
  color: $color1
  font-size: 10px
  font-family: $familyAN
  line-height: 16px

