html
  height: 100%
body
  background-color: grey
  height: 100%

.wrapper
  display: flex
  flex-direction: column
  height: 100%

.content
  flex: 1 0 auto

.wrapper-header
  width: 100%
  height: $headerHeight
  position: fixed
  top: 0
  z-index: 100

.wrapper-news
  display: flex
  justify-content: space-between
  @extend %block-main
  background: $colorBg
  &-section1
    width: $columnWidth * 3 + $hMargin * 4
    @media screen and (max-width: $widthDesktop)
      width: $columnWidth2 * 3 + $hMargin * 4
    @media screen and (max-width: $widthTablet1)
      width: $columnWidth2 * 2 + $hMargin * 2
      overflow: hidden


  &-section2
    width: $columnWidth
    @media screen and (max-width: $widthDesktop)
      width: $columnWidth2
    @media screen and (max-width: $widthTablet1)
      width: $columnWidth3


%block-main
  margin: 0 auto
  width: $widthDesktop - 2 * $hMargin
  padding: $vMargin $hMargin 0 $hMargin

  @media screen and (max-width: $widthDesktop)
    width: $widthTablet1 - 2 * $hMargin
  @media screen and (max-width: $widthTablet1)
    width: $widthTablet2 - 2 * $hMargin

%block-50percents
  width: ($widthDesktop - 2 * $hMargin - $hMarginBig)/2
  @media screen and (max-width: $widthDesktop)
    width: ($widthTablet1 - 2 * $hMargin - $hMarginBig)/2
  @media screen and (max-width: $widthTablet1)
    width: ($widthTablet2 - 2 * $hMargin - $hMarginBig)/2
